<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <main class="mainContentModal">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <div class="details-side bg-white mb-5 login-box-bg">
            <div class="page-content pb-5 pt-5">
              <div class="row justify-content-md-center">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="beneficiaryAccountId">
                      {{ 'BeneficiaryAccount::txt_bank_name_Withdrow' | abpLocalization }} </label
                    ><span> * </span>
                    <!--   <select formControlName="beneficiaryAccountId" class="form-control">
                      <option
                        [value]="item.id"
                        *ngFor="let item of lutBaseResultDto.beneficiaryAccount; trackBy: trackById"
                      >
                        {{ item.name }}
                      </option>
                    </select> -->
                  </div>
                  <div class="form-group">
                    <label for="amount">
                      {{ 'BeneficiaryAccount::txt_Value_Saudi_Riyals' | abpLocalization }} </label
                    ><span> * </span>
                    <input
                      type="text"
                      appTwoDigitDecimalNumber
                      id="amount"
                      class="form-control"
                      formControlName="amount"
                    />
                  </div>
                </div>

                <div class="col-md-12 mb-4 row">
                  <button
                    type="button"
                    class="btn btn-secondary col-md-5 mr-2"
                    (click)="onCloseModel()"
                  >
                    {{ '::btn_Cancel' | abpLocalization }}
                  </button>
                  <button
                    type="submit"
                    class="btn btn-primary col-md-5 ml-2"
                    [disabled]="form.invalid || form.pristine"
                  >
                    {{ '::btn_Save' | abpLocalization }}
                  </button>
                </div>
              </div>
            </div>

            <div class="login-box-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
</form>
