<div>
  <abp-modal
    centered="true"
    scrollable="true"
    size="Small"
    [(visible)]="isModalStatusOpen"
    [busy]="inProgress"
    (disappear)="onCloseModel()"
    [suppressUnsavedChangesWarning]="suppressUnsavedChangesWarning"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-template #abpHeader>
        <h3>{{'::AddInstructor' | abpLocalization}}</h3>
      </ng-template>

      <ng-template #abpBody>
        <div class="mt-2">
          <label for="instructor-name">{{'::FirstName' | abpLocalization}}</label><span> * </span>
          <input
            type="text"
            id="instructor-name"
            class="form-control"
            formControlName="firstName"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="instructor-name">{{'::LastName' | abpLocalization}}</label><span> * </span>
          <input
            type="text"
            id="instructor-name"
            class="form-control"
            formControlName="lastName"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="instructor-name">{{'::Telephone' | abpLocalization}}</label>
          <input
            type="text"
            id="instructor-name"
            class="form-control"
            formControlName="telephone"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="instructor-name">{{'::Email' | abpLocalization}}</label>
          <input
            type="text"
            id="instructor-name"
            class="form-control"
            formControlName="email"
            autofocus
          />
        </div>
      </ng-template>

      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>

        <button
          (click)="onSubmit()"
          class="btn btn-primary col-md-5 ml-2"
          [disabled]="form.invalid || form.pristine"
        >
          {{ '::btn_Save' | abpLocalization }}
        </button>
      </ng-template>
    </form>
  </abp-modal>
</div>
