<abp-modal [(visible)]="isModalOpen" [busy]="inProgress">
  <ng-template #abpHeader>
    <h3>{{ '::sessionExpiredWarninng' | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <p>{{ '::msg_sessionExpired' | abpLocalization: this.secondTimerLeft }}</p>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" (click)="logout()">
      {{ '::btn_LogOut' | abpLocalization }}
    </button>
    <button form="book-form" class="btn btn-primary" (click)="continue()">
      <i class="fa fa-check mr-1"></i>
      {{ '::btn_continue' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>
