<div class="modal-container">
  <abp-modal
    centered="true"
    scrollable="true"
    size="ExtraLarge"
    [(visible)]="isModalStatusOpen"
    [busy]="inProgress"
    (disappear)="onCloseModel()"
    [suppressUnsavedChangesWarning]="suppressUnsavedChangesWarning"
    class="large-modal"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-template #abpHeader>
        <h3>{{ '::AddGroup' | abpLocalization }}</h3>
      </ng-template>

      <ng-template #abpBody>
        <div class="mt-2">
          <label for="group-name">{{ '::Name' | abpLocalization }}</label
          ><span> * </span>
          <input
            type="text"
            id="group-name"
            class="form-control"
            formControlName="name"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="group-price">{{ '::Description' | abpLocalization }}</label>
          <input type="text" class="form-control" formControlName="description" />
        </div>
        <div class="mt-2">
          <label for="book-type">{{ '::Menu:Students' | abpLocalization }}</label>
          <ng-select
            [items]="students"
            bindLabel="name"
            bindValue="id"
            [multiple]="true"
            placeholder="Select Students"
            formControlName="studentIds"
            [dropdownPosition]="'top'"
          >
          </ng-select>
        </div>
      </ng-template>

      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>

        <button
          (click)="onSubmit()"
          class="btn btn-primary col-md-5 ml-2"
          [disabled]="form.invalid || form.pristine"
        >
          {{ '::btn_Save' | abpLocalization }}
        </button>
      </ng-template>
    </form>
  </abp-modal>
</div>

<style>
  .modal-container ::ng-deep .modal-dialog {
    max-width: 85vw !important;
    width: 85vw;
  }

  .modal-container ::ng-deep .modal-content {
    min-height: 80vh;
  }

  .modal-container ::ng-deep .ng-select {
    min-height: 200px;
  }

  .modal-container ::ng-deep .ng-dropdown-panel {
    width: 100%;
    max-height: 300px;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .modal-container ::ng-deep .modal-dialog {
      max-width: 95vw !important;
      width: 95vw;
      margin: 10px auto;
    }
    
    .modal-container ::ng-deep .modal-content {
      min-height: 70vh;
    }
  }
</style>
