<div>
  <abp-modal
    centered="true"
    scrollable="true"
    size="ExtraLarge"
    [(visible)]="isModalStatusOpen"
    [busy]="inProgress"
    (disappear)="onCloseModel()"
    [suppressUnsavedChangesWarning]="suppressUnsavedChangesWarning"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-template #abpHeader>
        <h3>Add Group</h3>
      </ng-template>

      <ng-template #abpBody>
        <div class="mt-2">
          <label for="group-name">Name</label><span> * </span>
          <input
            type="text"
            id="group-name"
            class="form-control"
            formControlName="name"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="group-price">Description</label>
          <input type="text" class="form-control" formControlName="description" />
        </div>
        <div class="mt-2">
          <label for="book-type">Students</label>
          <ng-select
            [items]="students"
            bindLabel="fullName"
            bindValue="id"
            [multiple]="true"
            placeholder="Select Students"
            formControlName="studentIds"
          >
          </ng-select>
        </div>
      </ng-template>

      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>

        <button
          (click)="onSubmit()"
          class="btn btn-primary col-md-5 ml-2"
          [disabled]="form.invalid || form.pristine"
        >
          {{ '::btn_Save' | abpLocalization }}
        </button>
      </ng-template>
    </form>
  </abp-modal>
</div>
