<div>
  <abp-modal
    centered="true"
    scrollable="true"
    size="Small"
    [(visible)]="isModalStatusOpen"
    [busy]="inProgress"
    (disappear)="onCloseModel()"
    [suppressUnsavedChangesWarning]="suppressUnsavedChangesWarning"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-template #abpHeader>
        <h3>{{ '::AddStudent' | abpLocalization }}</h3>
      </ng-template>

      <ng-template #abpBody>
        <div class="mt-2">
          <label for="student-name">{{ '::FirstName' | abpLocalization }}</label
          ><span> * </span>
          <input
            type="text"
            id="student-name"
            class="form-control"
            formControlName="firstName"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="student-name">{{ '::LastName' | abpLocalization }}</label
          ><span> * </span>
          <input
            type="text"
            id="student-name"
            class="form-control"
            formControlName="lastName"
            autofocus
          />
        </div>

        <div class="mt-2">
          <label for="student-name">{{ '::Telephone' | abpLocalization }}</label>
          <!--  <input
            type="text"
            id="student-name"
            class="form-control"
            formControlName="telephone"
            autofocus
          /> -->
          <ngx-intl-tel-input
            [cssClass]="'w-100 rtl-support'"
            [preferredCountries]="preferredCountries"
            [enableAutoCountrySelect]="true"
            [enablePlaceholder]="true"
            [searchCountryFlag]="true"
            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
            [selectFirstCountry]="false"
            [selectedCountryISO]="CountryISO.India"
            [maxLength]="15"
            [phoneValidation]="true"
            [separateDialCode]="separateDialCode"
            [numberFormat]="PhoneNumberFormat.National"
            name="telephone"
            formControlName="telephone"
          >
          </ngx-intl-tel-input>
        </div>

        <div class="mt-2">
          <label for="student-name">{{ '::Email' | abpLocalization }}</label>
          <input
            type="email"
            id="student-name"
            class="form-control"
            formControlName="email"
            [disabled]="isEdit"
            autofocus
          />
        </div>
      </ng-template>

      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>

        <button
          [disabled]="form.invalid || form.pristine"
          (click)="onSubmit()"
          class="btn btn-primary col-md-5 ml-2"
        >
          {{ '::btn_Save' | abpLocalization }}
        </button>
      </ng-template>
    </form>
  </abp-modal>
</div>
