<div>
  <abp-modal
    centered="true"
    scrollable="true"
    size="xl"
    [(visible)]="isModalStatusOpen"
    [busy]="inProgress"
    (disappear)="onCloseModel()"
    [suppressUnsavedChangesWarning]="suppressUnsavedChangesWarning"
  >
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ng-template #abpHeader>
        <h3>{{ '::AddCourse' | abpLocalization }}</h3>
      </ng-template>

      <ng-template #abpBody>
        <div class="form-group my-3">
          <label for="course-name">{{ '::Name' | abpLocalization }}</label
          ><span> * </span>
          <input
            type="text"
            id="course-name"
            class="form-control"
            placeholder="{{ '::Name' | abpLocalization }}"
            formControlName="name"
            autofocus
          />
        </div>
        <div class="form-group mt-3">
          <label>{{ '::StartDate' | abpLocalization }}</label
          ><span> * </span>
          <input
            #datepicker="ngbDatepicker"
            class="form-control"
            name="datepicker"
            placeholder="{{ '::StartDate' | abpLocalization }}"
            formControlName="startDate"
            ngbDatepicker
            (click)="datepicker.toggle()"
          />
        </div>

        <div class="form-group mt-3">
          <label>{{ '::EndDate' | abpLocalization }}</label
          ><span> * </span>
          <input
            #endDatedatepicker="ngbDatepicker"
            class="form-control"
            name="datepicker"
            formControlName="endDate"
            placeholder="{{ '::EndDate' | abpLocalization }}"
            ngbDatepicker
            (click)="endDatedatepicker.toggle()"
          />
        </div>
        <label class="mt-3">
          <input type="checkbox" id="subscribe" formControlName="isActive" />
          IsActive
        </label>
        <div class="form-group mt-3">
          <label for="course-price">{{ '::Description' | abpLocalization }}</label>
          <input type="text" class="form-control" placeholder="{{ '::Description' | abpLocalization }}" formControlName="description" />
        </div>
        <div class="mt-3">
          <label for="book-type">{{ '::Menu:Experiments' | abpLocalization }}</label>
          <ng-select
            [items]="experiments"
            bindLabel="name"
            bindValue="id"
            [multiple]="true"
            placeholder="Select Experiments"
            formControlName="experimentIds"
          >
          </ng-select>
        </div>

        <div class="mt-3">
          <label>group</label>
          <ng-select
            [items]="groups"
            bindLabel="name"
            bindValue="id"
            [multiple]="false"
            placeholder="Select group"
            formControlName="groupId"
          >
          </ng-select>
        </div>

        <div class="mt-3">
          <label>instructorId</label>
          <ng-select
            [items]="instructors"
            bindLabel="name"
            bindValue="id"
            [multiple]="false"
            placeholder="Select instructor"
            formControlName="instractorId"
          >
          </ng-select>
        </div>
      </ng-template>

      <ng-template #abpFooter>
        <button type="button" class="btn btn-secondary" abpClose>
          {{ '::Close' | abpLocalization }}
        </button>

        <button
          [disabled]="form.invalid || form.pristine"
          (click)="onSubmit()"
          class="btn btn-primary col-md-5 ml-2"
        >
          {{ '::btn_Save' | abpLocalization }}
        </button>
      </ng-template>
    </form>
  </abp-modal>
</div>
<!-- [disabled]="form.invalid || form.pristine" -->
