<div class="col-12 p-2 mb-3" *ngIf="tableConfig?.hideSearch !== true">
  <ng-container>
    <div class="flex-col lg:flex-row gap-3">
      <div class="d-flex flex-col flex-1 gap-2 lg:flex-row lg:flex-initial">
        <input
          type="text"
          class="form-control search-input"
          [(ngModel)]="searchValue"
          placeholder="{{ '::Search' | abpLocalization }} {{ ' ...' }}"
        />
        <ng-select
          #select
          [items]="tableConfig?.searchColumnFilter"
          (change)="onClickSearch()"
          bindLabel="displayName"
          placeholder="{{ '::searchBy' | abpLocalization }}"
          [(ngModel)]="selectedFilter"
          class="w-100"
        >
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <span class="option-span">
              {{ item.displayName }}
            </span>
          </ng-template>
        </ng-select>
      </div>
      <button (click)="onClickSearch()" class="mt-3 lg:mt-auto btn btn-primary view-btn list-view">
        {{ '::Search' | abpLocalization }}
      </button>
    </div>
  </ng-container>
</div>
<div class="d-flex gap-3 align-items-center justify-content-end mb-2">
  <app-upload-excel
    (uploadResponseEvent)="onRowActionClicked(ActionType.ExcelResponse, null)"
    *ngIf="tableConfig?.uploadExcelApi"
    [apiUrl]="tableConfig?.uploadExcelApi"
  ></app-upload-excel>

  <a
    *ngIf="tableConfig?.pathExampleExcel"
    [href]="tableConfig?.pathExampleExcel"
    class="btn btn-success"
  >
    <i class="fas fa-download mx-1"></i>
    {{ '::donlowadexceltemplate' | abpLocalization }}
  </a>
</div>

<ngx-datatable
  [rows]="tableData"
  [count]="totalCount"
  [list]="ListService"
  [headerHeight]="50"
  [scrollbarH]="true"
  [columnMode]="'force'"
  [rowHeight]="60"
  default
  class="modern-table p-3"
>
  <ng-container *ngFor="let col of tableConfig.columns">
    <ngx-datatable-column
      [name]="'::' + col.title | abpLocalization"
      [prop]="col.dataProperty"
      [headerClass]="col.headerClass"
      [cellClass]="col.cellClass"
    >
      <ng-template let-row="row" ngx-datatable-cell-template>
        <ng-container [ngSwitch]="col.type">
          <ng-container *ngSwitchCase="ColumnTypeEn.DateOnly">
            {{ row[col.dataProperty] | date: 'dd/MM/yyyy' }}
          </ng-container>
          <ng-container *ngSwitchCase="ColumnTypeEn.CheckBox">
            <div class="status-toggle">
              <label class="status-label" [class.active]="row[col.dataProperty]">{{
                (row[col.dataProperty] ? '::Active' : '::Inactive') | abpLocalization
              }}</label>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="ColumnTypeEn.Image">
            <div class="image-wrapper">
              <img
                [src]="row[col.dataProperty]"
                alt="Image"
                class="table-image"
                onerror="this.src='assets/default-image.png'"
              />
            </div>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ row[col.dataProperty] }}
          </ng-container>
        </ng-container>
      </ng-template>
    </ngx-datatable-column>
  </ng-container>

  <ngx-datatable-column [name]="'::Actions' | abpLocalization" [maxWidth]="150" [sortable]="false">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div ngbDropdown container="body" class="d-inline-block" style="margin-top: 17px">
        <button
          class="btn btn-primary btn-sm dropdown-toggle"
          ngbDropdownToggle
          aria-haspopup="true"
          data-toggle="dropdown"
        >
          <i class="fa fa-cog me-1"></i>{{ '::Actions' | abpLocalization }}
        </button>

        <div ngbDropdownMenu>
          <ng-container *ngFor="let action of tableConfig?.rowActions">
            <button
              *ngIf="action.showOption(row)"
              ngbDropdownItem
              (click)="onRowActionClicked(action.actionType, row, action.otherFunction)"
            >
              {{ '::' + action.label | abpLocalization }}
            </button>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
