<!-- <div class="file-input">
  <input
    #fileInput
    type="file"
    accept=".xlsx"
    (change)="onFileSelected($event)"
    (click)="onclick($event)"

  />
</div> -->

<div class="file-input">
  <input
    #fileInput
    type="file"
    accept=".xlsx"
    (change)="onFileSelected($event)"
    style="display: none"
  />
  <button (click)="fileInput.click()" class="btn btn-primary">
    <i class="fas fa-upload mx-1"></i>
    {{ '::uploadexcel' | abpLocalization }}
  </button>
  <br />
</div>
